ws-rest-empleado/src/main/resources/wsdl/empleados.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.servicio.com/empleado-ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.servicio.com/empleado-ws" targetNamespace="http://www.servicio.com/empleado-ws">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.servicio.com/empleado-ws">

    <xs:complexType name="EmpleadoType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="nombres" type="xs:string"/>
            <xs:element name="apellidos" type="xs:string"/>
            <xs:element name="tipoDocumento" type="xs:string"/>
            <xs:element name="numeroDocumento" type="xs:string"/>
            <xs:element name="fechaNacimiento" type="xs:string"/>
            <xs:element name="fechaVinculacion" type="xs:string"/>
            <xs:element name="cargo" type="xs:string"/>
            <xs:element name="salario" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="addEmpleadoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empleado" type="tns:EmpleadoType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addEmpleadoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                <xs:element name="empleado" type="tns:EmpleadoType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="serviceStatus">
        <xs:sequence>
            <xs:element name="statusCode" type="xs:string"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addEmpleadoRequest">
    <wsdl:part element="tns:addEmpleadoRequest" name="addEmpleadoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEmpleadoResponse">
    <wsdl:part element="tns:addEmpleadoResponse" name="addEmpleadoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="empleadoPort">
    <wsdl:operation name="addEmpleado">
      <wsdl:input message="tns:addEmpleadoRequest" name="addEmpleadoRequest">
    </wsdl:input>
      <wsdl:output message="tns:addEmpleadoResponse" name="addEmpleadoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="empleadoPortSoap11" type="tns:empleadoPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addEmpleado">
      <soap:operation soapAction=""/>
      <wsdl:input name="addEmpleadoRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addEmpleadoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="empleadoPortService">
    <wsdl:port binding="tns:empleadoPortSoap11" name="empleadoPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>